
<!-- 博文的布局-Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- 引入head标签 -->
{% include head.html %}
{% include androidColor.html %}
<script src="/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/assets/js/toc.js" type="text/javascript"></script>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
<script src="/assets/bootstrap/js/bootstrap.js"></script>
</head>
<style>
  #toc{
    position:fixed;
    left:10px;
    top: 70px;
    display: inline-block;
    border-width: 0 0 0 0;
    box-shadow: #999999 0px 8px 40px 1px;
    border-radius: 20px 20px 20px 20px;
    font-weight: bolder;	
    padding: 30px 10px 30px 0px;
    color: inherit;
    background-color: rgba(204,204,204,0.1);
  }
</style>
<body>

<!-- 顶部锚点 -->
<a id="htmlup" name="htmlup"></a>
<!-- 引入博文顶部选项 -->
{% include post-header.html %}
<!-- 引入移动下拉选项 -->
{% include boot.html %}
<!-- 引入博文顶部样式 -->
{% include post-title.html %}
<div id="toc"></div>
<div class="col-lg-offset-2 col-mg-10">
<div class="markdown-body fadeInUp animated">
  {% if page.subtitle %}
    {% if page.color.size==0 or page.color==nil %}
      <div class="postpage-subtitle" style="border-left: 8px solid #9A85FF; border-right: 8px solid #9A85FF;">
        {{ page.subtitle }}
      </div>
    {% else %}
      <div class="postpage-subtitle" style="border-left: 8px solid {{ page.color }}; border-right: 8px solid {{ page.color }}">
        {{ page.subtitle }}
      </div>
    {% endif %}
  {% endif %}

  <!-- 文章内容 -->
  {{ page.content }}
  <!-- 引入share模块 -->
  {% include share.html %}
</div>
</div>

<!-- 底部锚点 -->
<a id="htmldown" name="htmldown"></a>
<!-- 引入评论模块 -->
{% include comment.html %}
<!-- 引入goto模块 -->
{% include goto.html %}
<!-- 引入页面底部模块 -->
{% include footer.html %}

<!-- 引用wow.js的动画效果 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 600,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 页面刷新回到顶部 -->
<script>
    window.onbeforeunload = function(){
        //刷新后页面自动回到顶部
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>
<script src="/assets/js/main.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
      $('#toc').toc();
  }); </script>  
</body>
</html>
